@model List<StaffViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Title</th>
        <th>Remove</th>
        <th>Update</th>
        <th>Details</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.StaffID</th>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td><a href="#" class="btn btn-outline-danger">Remove</a></td>
            <td><a href="#" class="btn btn-outline-success">Update</a></td>
            <td><a href="#" class="btn btn-outline-warning">Details</a></td>
        </tr>
    }
</table>
<a href="/Staff/AddStaff/" class="btn btn-outline-info">New staff registration</a>
